<!DOCTYPE html>
<html>
<head>
{{template "./public/head.tpl"}}
    <link href="/static/assets/css/ui.fancytree.min.css" rel="stylesheet" type="text/css" class="skinswitcher">
</head>
<body class="login-layout light-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red">玩家管理后台</span>
                        </h1>

                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        请输入登陆信息
                                    </h4>

                                    <div class="space-6"></div>

                                    <form>
                                        <fieldset>
                                            <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id='cuser' class="form-control" placeholder="Username" />
                                <i class="ace-icon fa fa-user"></i>
                            </span>
                                            </label>

                                            <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                <input type="password" id="cpwd" class="form-control" placeholder="Password" />
                                <i class="ace-icon fa fa-lock"></i>
                            </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline" id="cmsg" style="font-size: 12px;color: red">

                                                </label>

                                                <button id='csubmit' type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">Login</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>

                                </div><!-- /.widget-main -->

                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->

                    <div class="navbar-fixed-top align-right">
                        <br />
                        &nbsp;
                        <a id="btn-login-dark" href="#">暗黑色</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-blur" href="#">蓝色</a>
                        &nbsp;
                        <span class="blue">/</span>
                        &nbsp;
                        <a id="btn-login-light" href="#">白色</a>
                        &nbsp; &nbsp; &nbsp;
                    </div>
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/static/assets/js/jquery.js'>"+"<"+"/script>");
</script>
<!-- 弹出层 -->
<script src="/static/assets/layer/layer.min.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">

    //you don't need this, just used for changing background
    jQuery(function($) {
        $('#btn-login-dark').on('click', function(e) {
            $('body').attr('class', 'login-layout');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-light').on('click', function(e) {
            $('body').attr('class', 'login-layout light-login');
            $('#id-text2').attr('class', 'grey');
            $('#id-company-text').attr('class', 'blue');

            e.preventDefault();
        });
        $('#btn-login-blur').on('click', function(e) {
            $('body').attr('class', 'login-layout blur-login');
            $('#id-text2').attr('class', 'white');
            $('#id-company-text').attr('class', 'light-blue');

            e.preventDefault();
        });

        var cmsg = $('#cmsg');
        $('#csubmit').click(function(){
            layer.load();
            var cuser = $.trim($('#cuser').val());
            var cpwd = $.trim($('#cpwd').val());
            if(cuser && cpwd){
                $.post('dologin',{'user_name':cuser,'password':cpwd},function(x){

                    if(x.status==1){
                        window.location.href= '/index/index';
                    }else{
                        cmsg.html(x.msg);
                    }
                });
            }else{
                cmsg.html('请填写完整后在提交');
            }
            layer.closeAll();
            return false;
        });
    });
</script>
</body>
</html>
